@{
    ViewData["Title"] = "About";
}

<section class="aac-subpage bg-white">

    <div class="card-body">
        The Azure Advent Calendar was an idea by Richard Hooper <a href="https://twitter.com/Pixel_Robots" target="_blank" rel="noopener noreferrer">@@Pixel_Robots</a> and Gregor Suttie <a href="https://twitter.com/gregor_suttie" target="_blank" rel="noopener noreferrer">@@Gregor_suttie</a>
        <p>
            <a href="https://pixelrobots.co.uk/" target="_blank" rel="noopener noreferrer">
                <img src="~/images/pixelrobots.png" />
            </a>
        </p>
    </div>
</section>



