@{
    ViewData["Title"] = "Home Page";
}

    <header class="aac-header bg-white">
        <img src="~/images/Advent Calendar.png" />
        <img src="~/images/xmastree.png" />
        <div class="aac-header__middle">
            <h1>Welcome</h1>
            <p class="lead">Azure Advent Calendar 2019-2020</p>
        </div>
        <img src="~/images/xmastree.png" />
        <img src="~/images/xmas bit.png" />
    </header>

<section class="card border-0 bg-light mb-3" role="alert">
    <div class="card-body">
        <p><b>Here is what we need:</b></p>

        <ul>
            <li>Reserve a slot by contacting <a href="https://twitter.com/Pixel_Robots" target="_blank">@@Pixel_Robots</a> or <a href="https://twitter.com/gregor_suttie" target="_blank">@@Gregor_suttie</a> on Twitter (with hash tag <a href="#">#azureadventcalendar</a>).</li>
            <li>Record a 20-30 minute video with an Azure topic</li>
            <li>Prepare a blog post (in English)</li>
            <li>Add a link in your blog post that links back to <a href="https://azureadventcalendar.com" target="_blank">azureadventcalendar.com</a>, so that your readers may find the entire azure advent calendar.
                Publish your blog post on the specified date. Your post must be related to Azure in some way, but otherwise the content is completely up to you.
            </li>
            <li>Share your blog post on Twitter with hashtags <a href="#">#azurefamily</a> and <a href="#">#azureadventcalendar</a></li>
            <li>Any further questions contact <a href="https://twitter.com/Pixel_Robots" target="_blank">@@Pixel_Robots</a> or <a href="https://twitter.com/gregor_suttie" target="_blank">@@Gregor_suttie</a> on Twitter (with hash tag <a href="#">#azureadventcalendar</a>).</li>
            <li>Check out the faq's page <a href="https://azureadventcalendar.com/Home/FAQ" target="_blank">Azure Advent Calendar Faq's Page.</a> </li>
        </ul>
    </div>
</section>

<section class="table-responsive">
<table class="table table-bordered">
    <thead class="text-light bg-primary">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Name of Contributor #1</th>
            <th scope="col">Blog Post</th>
            <th scope="col">Topic</th>
            <th scope="col">Name of Contributor #2</th>
            <th scope="col">Blog Post</th>
            <th scope="col">Topic</th>
            <th scope="col">Name of Contributor #3</th>
            <th scope="col">Blog Post</th>
            <th scope="col">Topic</th>
        </tr>
    </thead>
    <tbody class="bg-white">
        <tr>
            <th scope="row">December 1st</th>
            <td><a href="https://twitter.com/Jack_Ref" target="_blank">Jack Tracey</a></td>
            <td>&nbsp;</td>
            <td>Azure Governance</td>
            <td><a href="https://twitter.com/simonwaight">Simon Waight</a></td>
            <td>&nbsp;</td>
            <td>Azure Logic Apps</td>
            <td><a href="https://twitter.com/IsidoraKatanic" target="_blank">Isidora Katanic</a></td>
            <td>&nbsp;</td>
            <td>The Azure Advent Poem</td>
        </tr>
        <tr>
            <th scope="row">December 2nd</th>
            <td><a href="https://twitter.com/wmatthyssen" target="_blank">Wim Matthyssen</a></td>
            <td>&nbsp;</td>
            <td>Azure Service Health</td>
            <td><a href="https://twitter.com/pdtit" target="_blank">Peter de Tender</a></td>
            <td>&nbsp;</td>
            <td>Azure Container Instance</td>
            <td><a href="https://twitter.com/funkysi1701" target="_blank">Simon Foster</a></td>
            <td>&nbsp;</td>
            <td>Azure Devops Pipelines</td>
        </tr>
        <tr>
            <th scope="row">December 3rd</th>
            <td><a href="https://twitter.com/anthonymashford" target="_blank">Anthony Mashford</a></td>
            <td>&nbsp;</td>
            <td>Azure NetApp Files</td>
            <td><a href="https://twitter.com/scottjduffy" target="_blank">Scott Duffy</a></td>
            <td>&nbsp;</td>
            <td>Azure Certification Paths</td>
            <td><a href="https://twitter.com/ned1313">Ned Bellavance</a></td>
            <td>&nbsp;</td>
            <td>Azure AKS</td>
        </tr>
        <tr>
            <th scope="row">December 4th</th>
            <td><a href="https://twitter.com/AmineCharot" target="_blank">Amine Charot</a></td>
            <td>&nbsp;</td>
            <td>Azure API Management</td>
            <td><a href="https://twitter.com/ehrnst" target="_blank">Martin Ehrnst</a></td>
            <td>&nbsp;</td>
            <td>Azure Lighthouse</td>
            <td><a href="https://twitter.com/dracan" target="_blank">Matt Wharton</a></td>
            <td>&nbsp;</td>
            <td>Azure Site Recovery</td>
        </tr>
        <tr>
            <th scope="row">December 5th</th>
            <td><a href="https://twitter.com/AzureTrenches" target="_blank">James Randall</a></td>
            <td>&nbsp;</td>
            <td>Azure Functions</td>
            <td><a href="https://twitter.com/t_vuorenmaa" target="_blank">Tobias Vuorenmaa</a></td>
            <td>&nbsp;</td>
            <td>Azure Resource Graph</td>
            <td><a href="https://twitter.com/Bindertech" target="_blank">Simon Binder</a></td>
            <td>&nbsp;</td>
            <td>Managing shared devices with Microsoft Intune</td>
        </tr>
        <tr>
            <th scope="row">December 6th</th>
            <td><a href="https://twitter.com/ShabazDarr" target="_blank">Shabaz Darr</a></td>
            <td>&nbsp;</td>
            <td>Azure MFA</td>
            <td><a href="https://twitter.com/KasamShaikh" target="_blank">Kasam Shaikh</a></td>
            <td>&nbsp;</td>
            <td>Azure Certification</td>
            <td><a href="https://twitter.com/vNickC" target="_blank">Nick Colyer</a></td>
            <td>&nbsp;</td>
            <td>Be successful in Azure</td>
        </tr>
        <tr>
            <th scope="row">December 7th</th>
            <td><a href="https://twitter.com/TechieLass" target="_blank">Sarah Lean</a></td>
            <td>&nbsp;</td>
            <td>Azure Migrate</td>
            <td><a href="https://twitter.com/flytzen" target="_blank">Frans Lytzen</a></td>
            <td>&nbsp;</td>
            <td>Azure Key Vault</td>
            <td><a href="https://twitter.com/adiltouati" target="_blank">Adil Touati</a></td>
            <td>&nbsp;</td>
            <td>AKS monitoring with Prometheus</td>
        </tr>
        <tr>
            <th scope="row">December 8th</th>
            <td><a href="https://twitter.com/azure_alan" target="_blank">Alan Kinane</a></td>
            <td>&nbsp;</td>
            <td>Azure Web Apps</td>
            <td><a href="https://twitter.com/erleonard">Eric Leonard</a></td>
            <td>&nbsp;</td>
            <td>Azure Front Door</td>
            <td><a href="https://twitter.com/mithunshanbhag">Mithun Shanbhag</a></td>
            <td>&nbsp;</td>
            <td>Terraform for Azure</td>
        </tr>
        <tr>
            <th scope="row">December 9th</th>
            <td><a href="https://twitter.com/cgill" target="_blank">Chris Gill</a></td>
            <td>&nbsp;</td>
            <td>Azure Sentinel</td>
            <td><a href="https://twitter.com/DanniJuhl" target="_blank">Danni Juhl</a></td>
            <td>&nbsp;</td>
            <td>Azure Data Factory</td>
            <td><a href="https://twitter.com/darkicebeam" target="_blank">Luis Beltran</a></td>
            <td>&nbsp;</td>
            <td>Azure Search</td>
        </tr>
        <tr>
            <th scope="row">December 10th</th>
            <td><a href="https://twitter.com/whaakman" target="_blank">Wesley Haakman</a></td>
            <td>&nbsp;</td>
            <td>Azure Blueprints</td>
            <td><a href="https://twitter.com/samcogan">Sam Cogan</a></td>
            <td>&nbsp;</td>
            <td>AKS virtual nodes</td>
            <td><a href="https://twitter.com/tamstar1234" target="_blank">Thomas Thornton</a></td>
            <td>&nbsp;</td>
            <td>TBD</td>
        </tr>
        <tr>
            <th scope="row">December 11th</th>
            <td><a href="https://twitter.com/jakewalsh90" target="_blank">Jake Walsh</a></td>
            <td>&nbsp;</td>
            <td>Azure Front Door</td>
            <td><a href="https://twitter.com/ThomasMaurer">Thomas Maurer</a></td>
            <td>&nbsp;</td>
            <td>Top Secret!</td>
            <td><a href="https://twitter.com/dp7g09" target="_blank">Dushyant Priyadarshee</a></td>
            <td>&nbsp;</td>
            <td>Azure Devops</td>
        </tr>
        <tr>
            <th scope="row">December 12th</th>
            <td><a href="https://twitter.com/wedoAzure" target="_blank">Joe Carlyle</a></td>
            <td>&nbsp;</td>
            <td>Network NutCracker</td>
            <td><a href="https://twitter.com/MikeyBronowski" target="_blank">Mikey Bronowski</a></td>
            <td>&nbsp;</td>
            <td>Azure Data Studio</td>
            <td><a href="https://twitter.com/richardburrs">Richard Burrs</a></td>
            <td>&nbsp;</td>
            <td>Azure File Sync</td>
        </tr>
        <tr>
            <th scope="row">December 13th</th>
            <td><a href="https://twitter.com/DwayneNcloud" target="_blank">Dwayne Natwick</a></td>
            <td>&nbsp;</td>
            <td>Azure Bots and Luis</td>
            <td><a href="https://twitter.com/angry_stas" target="_blank">Stas Lebedenko</a></td>
            <td>&nbsp;</td>
            <td>Azure SQL Serverless</td>
            <td><a href="https://twitter.com/wyrdgirl">Amy Colyer</a></td>
            <td>&nbsp;</td>
            <td>Women in Tech /Azure</td>
        </tr>
        <tr>
            <th scope="row">December 14th</th>
            <td><a href="https://twitter.com/SCAutomation" target="_blank">Billy York</a></td>
            <td>&nbsp;</td>
            <td>Azure Monitor</td>
            <td><a href="https://twitter.com/Carmel_Eve" target="_blank">Carmel Eve</a></td>
            <td>&nbsp;</td>
            <td>Azure Data Lake</td>
            <td><a href="https://twitter.com/JKirstaetter" target="_blank">Jochen Kirstatter</a></td>
            <td>&nbsp;</td>
            <td>Data Migration Assistant to assess and migrate SQL databases to Azure</td>
        </tr>
        <tr>
            <th scope="row">December 15th</th>
            <td><a href="https://twitter.com/GregorReimling" target="_blank">Gregor Reimling</a></td>
            <td>&nbsp;</td>
            <td>Azure Bastion</td>
            <td><a href="https://twitter.com/Chris_L_Ayers" target="_blank">Chris Ayers</a></td>
            <td>&nbsp;</td>
            <td>Azure Application Insights</td>
            <td><a href="https://twitter.com/windosnz" target="_blank">Josh King</a></td>
            <td>&nbsp;</td>
            <td>Azure Devops for PowerShell</td>
        </tr>
        <tr>
            <th scope="row">December 16th</th>
            <td><a href="https://twitter.com/KennyLowe" target="_blank">Kenny Lowe</a></td>
            <td>&nbsp;</td>
            <td>Azure Stack</td>
            <td><a href="https://twitter.com/arafattehsin" target="_blank">Arafat Tehsin</a></td>
            <td>&nbsp;</td>
            <td>Azure Cognitive Services</td>
            <td><a href="https://twitter.com/henry_been" target="_blank">Henry Been</a></td>
            <td>&nbsp;</td>
            <td>Azure Logic Apps</td>
        </tr>
        <tr>
            <th scope="row">December 17th</th>
            <td><a href="https://twitter.com/kristopherj" target="_blank">Kristopher J Turner</a></td>
            <td>&nbsp;</td>
            <td>Azure Update Management</td>
            <td><a href="https://twitter.com/ITPirate" target="_blank">Alex Benoit</a></td>
            <td>&nbsp;</td>
            <td>Azure Sentinel</td>
            <td><a href="https://twitter.com/BretteMB" target="_blank">Brette Bossick</a></td>
            <td>&nbsp;</td>
            <td>How I transformed my career with Microsoft/Azure</td>
        </tr>
        <tr>
            <th scope="row">December 18th</th>
            <td><a href="https://twitter.com/florent_app" target="_blank">Florent Appointaire</a></td>
            <td>&nbsp;</td>
            <td>Application Gateway</td>
            <td><a href="https://twitter.com/SQLMCT" target="_blank">John Deardurff</a></td>
            <td>&nbsp;</td>
            <td>Azure SQL Databases</td>
            <td><a href="https://twitter.com/JanVidarElven" target="_blank">Jan Vidar Elven</a></td>
            <td>&nbsp;</td>
            <td>Azure Information Protection</td>
        </tr>
        <tr>
            <th scope="row">December 19th</th>
            <td><a href="https://twitter.com/MrSiWhiteley" target="_blank">Simon Whiteley</a></td>
            <td>&nbsp;</td>
            <td>Azure DataBricks</td>
            <td><a href="https://twitter.com/SQLShark" target="_blank">Terry McCann</a></td>
            <td>&nbsp;</td>
            <td>Azure Machine Learning</td>
            <td><a href="https://twitter.com/MichaelBender">Michael Bender</a></td>
            <td>&nbsp;</td>
            <td>Azure Cloud Shell</td>
        </tr>
        <tr>
            <th scope="row">December 20th</th>
            <td><a href="https://twitter.com/edbaker1965" target="_blank">Ed Baker</a></td>
            <td>&nbsp;</td>
            <td>Azure AD Condition Access</td>
            <td><a href="https://twitter.com/damian_flynn" target="_blank">Damian Flynn</a></td>
            <td>&nbsp;</td>
            <td>Calling Azure Rest API's</td>
            <td><a href="https://twitter.com/dracan" target="_blank">Dan Clarke</a></td>
            <td>&nbsp;</td>
            <td>Azure CLI and Cloud Shell</td>
        </tr>
        <tr>
            <th scope="row">December 21st</th>
            <td><a href="https://twitter.com/juliandynamics" target="_blank">Julian Sharp</a></td>
            <td>&nbsp;</td>
            <td>Azure IoT</td>
            <td><a href="https://twitter.com/phillipsj73" target="_blank">Jamie Phillips</a></td>
            <td>&nbsp;</td>
            <td>Azure Image Builder</td>
            <td><a href="https://twitter.com/kjabrams" target="_blank">Kenneth Abrams</a></td>
            <td>&nbsp;</td>
            <td>TBD</td>
        </tr>
        <tr>
            <th scope="row">December 22nd</th>
            <td><a href="https://twitter.com/ericberg_de" target="_blank">Eric Berg</a></td>
            <td>&nbsp;</td>
            <td>Azure Policy</td>
            <td><a href="https://twitter.com/bytemech" target="_blank">Byron Glover</a></td>
            <td>&nbsp;</td>
            <td>Azure Devops</td>
            <td><a href="https://twitter.com/jamie_maguire1" target="_blank">Jamie Maguire</a></td>
            <td>&nbsp;</td>
            <td>Cognitive Services</td>
        </tr>
        <tr>
            <th scope="row">December 23rd</th>
            <td><a href="https://twitter.com/sigje" target="_blank">Jennifer Davis</a></td>
            <td>&nbsp;</td>
            <td>Azure Security</td>
            <td><a href="https://twitter.com/garethjones294" target="_blank">Gareth Jones</a></td>
            <td>&nbsp;</td>
            <td>Azure Migrate</td>
            <td><a href="https://twitter.com/BertWolters" target="_blank">Bert Wolters</a></td>
            <td>&nbsp;</td>
            <td>An overview of the latest and greatest updates to Azure</td>
        </tr>
        <tr>
            <th scope="row">December 24th</th>
            <td><a href="https://twitter.com/CEDriverWiz" target="_blank">CEDriverWiz</a></td>
            <td>&nbsp;</td>
            <td>Azure IoT Hub Super Quickstart in 5 minutes!</td>
            <td><a href="https://twitter.com/DaveRndn" target="_blank">Dave Rendon</a></td>
            <td>&nbsp;</td>
            <td>Docker on Azure</td>
            <td><a href="https://twitter.com/ryanyates1990" target="_blank">Ryan Yates</a></td>
            <td>&nbsp;</td>
            <td>Azure Governance</td>
        </tr>
        <tr>
            <th scope="row">December 25th</th>
            <td><a href="https://twitter.com/kevchant" target="_blank">Kevin Chant</a></td>
            <td>&nbsp;</td>
            <td>SQL related services in Azure</td>
            <td><a href="https://twitter.com/makramjenayah" target="_blank">Makram Jenayah</a></td>
            <td>&nbsp;</td>
            <td>Automation on Azure</td>
            <td><a href="https://twitter.com/JanakaRangama">Janaka Rangama</a></td>
            <td>&nbsp;</td>
            <td>Cloud Native Apps on Azure Intelligent Edge</td>
        </tr>
    </tbody>
</table>
</section>
